/* Probando la fuente (ahi la podemos cambiar por una más bonita)*/
* {
    font-family: 'Fuente Personalizada';
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;

}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: gray;
    margin: 15px 0 20px 0;
}

body {

    width: 100%;
}


/* Aca empiezan los productos, lo de arriba era para el navbar*/

#productos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.img-banner {

    width: 100vw;
}

#productos .contenedor-productos {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#productos .pro {
    flex: 1 1 250px;
    max-width: 250px;
    padding: 15px 17px;
    border: 1px solid gray;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#productos .pro:hover {

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.carta-pokemon {
    width: 100%;
}

.carta-mitos {
    width: 100%;
}

.carta-mtg {
    width: 100%;
    border-radius: 10px;
}

.producto-accesorio {
    width: 100%;
    max-height: 250px;
}

#productos .pro .desc {
    text-align: start;
}

#productos .pro .desc span {
    font-size: 15px;
    color: gray;

}

#productos .pro .desc h5 {
    font-size: 20px;
}

#productos .pro .desc h5 {
    font-size: 20px;
}

#productos .pro .desc h4 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(191, 69, 107);
}

#productos .pro .carrito {
    width: 35px;

}

#productos .pro .carrito-casa {
    background-color: rgb(185, 143, 157);
    width: 35px;
    height: 35px;
    border-radius: 50px;

    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px;
}

.overlay-imagen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.overlay-texto{
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 4px #000000
}


/* hover */

.overlay-imagen:hover{
    opacity: 100;
}


.pro:hover{
filter: grayscale(70%);
}

/* Pagina de detalles del productos */

#detalle-producto {
    display: flex;
    margin-top: 20px;
    padding: 150px;
}

#detalle-producto .imagen-producto {
    width: 30%;
    margin-right: 50px;
}

.imagen-pequena-grupo {

    display: flex;
    justify-content: space-between;
}

.imagen-pequena-col {

    flex-basis: 24%;
    cursor: pointer;
}

#detalle-producto .detalle-producto-desc {

    width: 50%;
    margin: 10px solid black;
    padding-left: 10vw;
}

#detalle-producto .detalle-producto-desc h6{

    padding: 40px 0 2px 0;
    font-size: 20px;
    color: gray;
}

#detalle-producto .detalle-producto-desc h4{
    font-size: 40px;
}

#detalle-producto .detalle-producto-desc h2{
    font-size: 40px;
}

#detalle-producto .detalle-producto-desc select{

    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    height: 36px;
    font-size: 20px;
}

#detalle-producto .detalle-producto-desc input{

    width: 83px;
    height: 35px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

#detalle-producto .detalle-producto-desc input:focus{
    outline: none;
}

#detalle-producto .detalle-producto-desc button{

    background: rgb(185, 143, 157);
    height: 40px;
    border: none;
    width: 60%;
    border-radius: 5px;
    font-size: 20px;
}

#detalle-producto .detalle-producto-desc span{

    font-size: 20px;

}

#imagen-principal{
    border-radius: 20px;
}

.imagen-pequena{
    border-radius: 5px;
}   